<mat-card-actions class="main-buttons">
    <button mat-flat-button class="add-button" (click)="openForm()">Adicionar comentário</button>
</mat-card-actions>

<div class="container">
    <div *ngFor="let item of arr">
        <mat-card class="card mat-elevation-z8">
            <mat-card-subtitle class="capitalize-text">{{ item.nome | badWords }}</mat-card-subtitle>
            <mat-card-title>{{ item.titulo | badWords }}</mat-card-title>
            <mat-card-content>
                <p>{{ item.descricao | badWords }}</p>
            </mat-card-content>
            <div class="footer">
                <mat-divider inset></mat-divider>
                <mat-card-actions class="control-buttons">
                    <button mat-flat-button color="warn" class="delete" (click)="deletarCompra(item)">Deletar</button>
                </mat-card-actions>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card-footer>
            </div>
        </mat-card>
    </div>
</div>





