.main-buttons{
    display: flex;
    justify-content: center;
    gap: 25%;
    padding: 40px 0;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

        button{
            width: 100%;
            max-width: 200px;
        }

        .add-button{
            background: #4BB543;
            color: white;
        }
}

.container{
    width: 92%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;

    .card {
        width: 320px;
        min-height: 285px;
        position: relative;

        .capitalize-text{
            text-transform: capitalize;
        }

        mat-card-content{
            p{
                margin: 0 auto;
                max-width: 95%;
                margin-top: 30px;
                max-height: 120px;
                overflow-y: auto;
                padding-right: 10px;
                /* width */
                
            }
            ::-webkit-scrollbar {
                    width: 10px;
                }

                /* Track */
                ::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 5px grey; 
                    border-radius: 10px;
                }

                /* Handle */
                ::-webkit-scrollbar-thumb {
                    background: #3F51B5; 
                    border-radius: 10px;
                }

                /* Handle on hover */
                ::-webkit-scrollbar-thumb:hover {
                    background: #2b397c; 
            }
        }

        .footer{
            position: absolute;
            bottom: 15px;
            width: 80%;
            margin: 0 auto;
            left: 10%;
        }
        
        .control-buttons{
            display: flex;
            justify-content: flex-end;
            padding-right: 15px;
        }
    }
}